div.content{
    float:right;
    width:50%;
    height: 100vh;
    /* border: pink solid; */
    position: relative;
    justify-content: center;
}



#about-content{
    margin-left: 5%;
    /* border: aqua solid; */
    position: absolute;
    width:45%;
    line-height: 145%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0%;
    transition: opacity .2s;
}

#projects-content{
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    opacity: 0%;
    width:50%;
    transition: opacity .2s;

}

#experience-content{
    margin-left: 5%;
    position: absolute;
    opacity: 0%;
    width:50%;
    transition: opacity .2s;

}