body{
    overflow: hidden;
    scroll-behavior:smooth;
    background-color:#220000;
    font-family: 'Roboto', sans-serif;
    color: #adadad;
    font-weight: 450;
    /* background-image: url(../assests/slanted-gradient.svg); */
    background-size: 230vh;
}

span.highlight{
    color: #cdd5f1
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

/* div.main-grid{
    display:grid;
    grid-template-columns: 50% 50%;
} */


@media screen and (max-width:1050px){
    body{ 
        overflow-y:scroll;
        overflow-x:hidden;
        scroll-behavior:auto;
    }

}

