div.about {
    position: sticky;
    margin:0;
    height: 99vh;
    float: left;
    border: 2px solid;
    border-color: white;
}

div.main-left{
    margin: 0;
    height:99vh;
    float:right;
    width:55%;
    border: blue solid;
}

div.summary {
    padding-top: 8vh;
    float: left;
    border: 2px solid;
    border-color: rgb(225, 128, 128);
}
    
h1.name {
    color:#cdd5f1;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
}

h3.status{
    color:#cdd5f1;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 450;
}

p.summary{
    color: #adadad;
    line-height: 150%;
    padding-bottom: 5vh;
    font-size: 1em;
}

.nav-div{
    border: pink solid;
    display: inline-block;
    height: auto;
}

.nav-div:hover{
    cursor:pointer;
}

.nav-div:hover .nav-lines{
    color:#cdd5f1;
    transition: color .20s;
}

.nav-lines {
    font-size: .9em;
    color: #949494;
    font-weight: 700;
    transition: color .20s,
}

div.icons{
    float:left;
    /* border:white solid; */
    position:fixed;
    bottom: 10vh;
}

.icon{
    width: 1.9em;
    padding-right: 1em;
}

div.nav-tick{
    width: 10px;
    height: 1px;
    background-color:#949494;
    border: #949494 solid 1px;
}

@media screen and (max-width:1050px){
    div.about{
        display: flex;
        justify-content: center;
        text-align: center;
        float: none;
    }
    div.main-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        float: none;
    }
    p.summary{
        padding-bottom:0px;
    }

    div.summary{
        width:100%;
        float:none;
        justify-content: center;
        text-align: center;
    }
    h1.name{
        word-wrap: break-word;
        line-height: normal;
        font-weight:900;
    }
    h3.status{
        font-size:1em;
    }
    br.desktop-break{
        display:none;
    }
    p.summary{
        padding-bottom:0%;
    }
    .nav-lines{
        display:none;
    }
    div.icons{
        justify-content: center;
        position:relative;
    }
    .nav-container{
        display: none;
    }
}

@media screen and (max-height: 612px){
    div.icons{
        position:static;
    }
}
