div.about {
    margin:0;
    height: 99vh;
    float: left;
    border: 2px solid;
    border-color: white;
}

div.summary {
    padding-top: 4vw;
    float: right;
    width: 55%;
    border: 2px solid;
    border-color: rgb(225, 128, 128);
}
    
h1.name {
    color:#cdd5f1;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
}

h3.status{
    color:#cdd5f1;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 450;
}

p.summary{
    color: #adadad;
    line-height: 150%;
    padding-bottom: 5vh;
    font-size: 1em;
}

.nav-div{
}

.nav-lines {
    font-size: .9em;
    color: #949494;
    font-weight: 700;
}

.nav-lines:hover {
    
}

div.icons{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom:10%;
}

.icon{
    width: 1.9em;
    padding-right: 1em;
}
@media screen and (max-width:1050px){
    div.summary{
        width:100%;
        float:none;
        justify-content: center;
        padding-bottom: 20%;
        text-align: center;
    }
    h1.name{
        word-wrap: break-word;
        line-height: normal;
        font-weight:900;
    }
    h3.status{
        font-size:1em;
    }
    br.desktop-break{
        display:none;
    }
    p.summary{
        padding-bottom:0%;
    }
    .nav-lines{
        display:none;
    }
    div.icons{
        justify-content: center;
        position:relative;
    }
}

@media screen and (max-height: 592px){
    div.icons{
        display:none;
    }
}